<div class="wrapper">
  <main>
    <h1>Dashboard</h1>

    <div class="flex-grid">
      <div>
        <div
          style="
            margin: 20px;
            text-align: center;
            font-weight: 600;
            color: #3f51b5;
          "
        >
          <h3>All Cars</h3>
          <br />
        </div>

        <div class="table-responsive">
          <table style="width: 100%" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col" width="10%">S.No.</th>
                <th scope="col" width="25%">Name</th>
                <th scope="col" width="10%">Rented</th>
                <th scope="col" width="25%">No. Days Rented</th>
                <th scope="col" width="15.5%">Car Type</th>
                <th scope="col" width="15%">Rent a Car</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of data">
                <td>{{ data.id }}</td>
                <td>{{ data.Name }}</td>
                <td *ngIf="data.isRented == 1">Yes</td>
                <td *ngIf="data.isRented == 0">No</td>
                <td>{{ data.DaysRented }}</td>
                <td *ngIf="data.CarTypeId == 1">SUV</td>
                <td *ngIf="data.CarTypeId === 2">Sedan</td>
                <td *ngIf="data.CarTypeId === 3">HatchBack</td>
                <td *ngIf="data.isRented == 0">
                  <a routerLink="/viewpage/{{ data.id }}">View</a>
                </td>
                <td *ngIf="data.isRented == 1">
                  <a routerLink="receipt/{{ data.id }}">View Invoice</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
